<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title> <%=title%> </title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
</head>

<body>
<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed btn btn-default" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left nav_bar ">
                <li><a href="/">Home</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right nav_bar ">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        Search <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu drop">
                        <li><a href="/Search-By-UserName" >By Username</a></li>
                        <li><a href="/Search-By-recipeName" >By Recipe Name</a></li>
                        <li><a href="/Search-By-recipeCuisine">By Recipe Cuisine</a></li>
                    </ul>
                </li>
                <li><a href="/addNewData" target="_blank" >Add Recipe</a></li>
                <li><a href="/viewRecepties">View Recepties</a></li>
            </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">
       

        <div class="row home text-center txt" data-wow-duration=".3s" data-wow-delay=".3s">
            <div>
            Enter the desired cuisine below to find all recipes associated with that cuisine:
            </div>
        <form class="form-inline d-flex justify-content-center md-form form-sm mt-0" action="/Search-By-recipeCuisine" method="get">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input class="form-control form-control-sm ml-3 w-75" type="text" name="search" placeholder="Search" aria-label="Search">
            <input type="submit" class="btn  btn-primary">
        </form>
            
         
        
        </div><br><br><br><br>
        <div class="row">
     <form action="/DeleteItem" method="POST">

            <% data.forEach(function(value){%>

            
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="service-wrap text-center">
                    <a style="color:black;" href="#"></a>
                        <div class="service-icon">
                            <i class="fa fa-building-o"></i>
                        </div>
                        <img src="/uploads/<%= value.image%>" width="300" height="200">
                        <h3 style="color:black;"><%= value.recipeName%></h3>
                    </a>
                </div><br>
                
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="submit" name="btnDelete" value="<%=value._id%>" class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this item?');">Delete Item</button>
                <a href="/update/<%=value._id%>" class="btn btn-success">Edit Item</a>
                <a href="/viewcook/<%=value._id%>" class="btn btn-primary">View Item</a>
            </div>
        </div>
            </div>
             <%})%>
        </form>
        </div>
        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
